body{
  margin-top: 5%;
  background-image: url('../imgs/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

table{
  margin-left: 40%;
  text-align: center;
  background-color: indigo;
  box-sizing: content-box;
}

.header{
  text-align: center;
}

.header h1{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


.cell{
  margin-left:auto; 
  margin-right:auto;

  vertical-align: middle;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  /* box-sizing: border-box; */
  transition: 1s;
}

.cell:hover{
  background-color: rgb(255, 151, 90);
}

.field-header-container{
  background-color: rgb(108, 61, 185);
  text-align: center;
  transition: 1s;
  vertical-align: middle;
  box-sizing: border-box;
}

.field-header{
  width: auto;
  height: 50px;
}

.shown{
  box-shadow: inset 1px 1px 0px 0px black;
}

.score{
  text-align: center;
}

.restart{
  display: inline;
  background-color: transparent;
}

.timer{
  text-align: center;
}

img{
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.levels-container{
  padding: 5%;
  text-align: center;
}

.mine{
  background-color: indianred;
}

.empty{
  background-color: darkgray;
}

.number{
  background-color: lightgray;
}

.number1{
  color:blue;
}
.number2{
  color:green;
}
.number3{
  color:red;
}
.number4{
  color:purple;
}
.number5{
  color:maroon;
}
.number6{
  color:turquoise;
}
.number7{
  color:black;
}
.number8{
  color:gray;
}

.hints-container{
  float: left;
  vertical-align: left;
  width: 50px;
  height: 50px;
  text-align: left;
  font-size: 1.5em;
  transition: 1s;
}

.hints h2{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 
}

.modal{
  padding: 5%;
  float: right;
  top:0;
  right:0;
  width: 200px;
  height: auto;
  background-color:darkslateblue;
  border:1px;
}

.modal-content{
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
  color: azure;
}

.lives{
  top:0;
  right:0;
  float: inline-start;
  background-color: transparent;
}

.life{
  display:inline-block;
}

.best-time-container{
  color: azure;
  text-align: left;
  vertical-align: middle;
  margin-left:15px;
  width: auto;
  height: auto;
  font-size: 1em;
  float:right;
  top:0;
  background-color: darkslateblue;
}

.safe-click-container{
  height: auto;
  width: auto;
  margin:20px;
  float: right;
  top:50%;
  right:20px;
  width: 200px;
  height: auto;
  border:1px;
}

.safe-click{
  background-color: transparent;
}

.safe-click img{
  height: 60px;
  width: auto;
}

.safe-click-text{
  font-size: 1em;
  color: azure;
}

.manual-container{
  height: auto;
  width: auto;
  bottom: 30%;
}

.button{
  border: 1px;
}